<h1>Titanic Dataframe analysis</h1>

<h2>Import das bibliotecas utilizadas</h2>

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.preprocessing import LabelEncoder

<h2>Importação de dados</h2>

In [2]:
df = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")
df.head(15)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S

<h2>Tratamento dos dados</h2>

<h3>Tratamento do Nome - Criação da coluna Title</h3>

Nessa parte, foram retirados os títulos dos nomes e agregados em categorias parecidas. Isso foi feito para um melhor preenchemento das idades faltantes. Além disso, essa nova coluna possui, além da divisão de homens e mulheres por idade, titulos de nobreza e oficiais, possibilitando possíveis hipóteses sobre a sobrevivência dessas categorias.

In [3]:
def separa_titulo(nome):
    titulo = nome.split(",")[1].split(".")[0].strip()
    return titulo

normalized_titles = {
    "Capt":       "Officer",
    "Col":        "Officer",
    "Major":      "Officer",
    "Jonkheer":   "Royalty",
    "Don":        "Royalty",
    "Sir" :       "Royalty",
    "Dr":         "Officer",
    "Rev":        "Officer",
    "the Countess":"Royalty",
    "Dona":       "Royalty",
    "Mme":        "Mrs",
    "Mlle":       "Miss",
    "Ms":         "Mrs",
    "Mr" :        "Mr",
    "Mrs" :       "Mrs",
    "Miss" :      "Miss",
    "Master" :    "Master",
    "Lady" :      "Royalty"
}
df['Title'] = df['Name'].apply(separa_titulo)
df["Title"] = df["Title"].map(normalized_titles)

In [4]:
df[df["Age"].isnull()].groupby(["Title"]).count()["PassengerId"]

Title
Master       4
Miss        36
Mr         119
Mrs         17
Officer      1
Name: PassengerId, dtype: int64

In [5]:
adults_age = np.round(df[df["Title"].isin(["Mr","Mrs","Officer","Royalty"])]["Age"].mean())
miss_age = np.round(df[df["Title"].isin(["Miss"])]["Age"].mean())
master_age = np.round(df[df["Title"].isin(["Master"])]["Age"].mean())
print(adults_age,miss_age,master_age)

34.0 22.0 5.0

In [6]:
df.loc[df["Title"].isin(["Mr","Mrs","Officer","Royalty"]) & df["Age"].isnull(),"Age"] = adults_age
df.loc[df["Title"].isin(["Miss"]) & df["Age"].isnull(),"Age"]= miss_age
df.loc[df["Title"].isin(["Master"]) & df["Age"].isnull(),"Age"] = master_age

<h3>Retirando colunas desnecessárias que não serão utilizadas no modelo</h3>

In [7]:
df.drop(columns=["Name","PassengerId","Ticket"],inplace=True)

<h3>Tratamento da coluna Cabin</h3>

In [8]:
df['Cabin'].fillna('Missing',inplace=True)
df['Cabin'] = df['Cabin'].str[0]

<h3>Criação de uma nova coluna com o tamanho da familia</h3>

In [9]:
df["FamSize"] = df["SibSp"] + df["Parch"]

<h3>Preenchimento dos valores faltantes da coluna Embarked</h3>

Primeiro foi verificado qual era o valor que mais aparecia e os valores faltantes foram preenchidos com tal valor

In [10]:
df["Embarked"].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [11]:
df["Embarked"].fillna('S',inplace=True)

<h3>Transformação colunas categoricas + Label encoder</h3>

Primeiro foram modificados os tipos dessas colunas para categórico, e então utilizado o LabelEnconder para transformar os valores em números

In [12]:
# df['Pclass'] = df['Pclass'].astype('category')
# df['Sex'] = df['Sex'].astype('category')
# df['Embarked'] = df['Embarked'].astype('category')
# df['Title'] = df['Title'].astype('category')
# df['Cabin'] = df['Cabin'].astype('category')

In [13]:
# labelencoder = LabelEncoder()

# df['Pclass'] = labelencoder.fit_transform(df['Pclass'])
# df['Sex'] = labelencoder.fit_transform(df['Sex'])
# df['Title'] = labelencoder.fit_transform(df['Title'])
# df['Embarked'] = labelencoder.fit_transform(df['Embarked'])
# df['Cabin'] = labelencoder.fit_transform(df['Cabin'])

<h3>One Hot Encoder</h3>

In [14]:
coluna = ['Embarked', 'Title','Pclass','Sex','Cabin']
df = pd.get_dummies(df, columns=coluna)

<h3>Normalização da coluna Fare</h3>

In [15]:
# def minmax_norm(column):
#     return (column - column.min()) / (column.max() - column.min())

# df['Fare'] = minmax_norm(df['Fare'])
# df['Age'] = minmax_norm(df['Age'])
def padroniza(column):
        return ((column - column.mean())/column.std())
df['Fare'] = padroniza(df['Fare'])
df['Age'] = padroniza(df['Age'])

ValueError: Expected 2D array, got 1D array instead:
array=[  7.25    71.2833   7.925   53.1      8.05     8.4583  51.8625  21.075
  11.1333  30.0708  16.7     26.55     8.05    31.275    7.8542  16.
  29.125   13.      18.       7.225   26.      13.       8.0292  35.5
  21.075   31.3875   7.225  263.       7.8792   7.8958  27.7208 146.5208
   7.75    10.5     82.1708  52.       7.2292   8.05    18.      11.2417
   9.475   21.       7.8958  41.5792   7.8792   8.05    15.5      7.75
  21.6792  17.8     39.6875   7.8     76.7292  26.      61.9792  35.5
  10.5      7.2292  27.75    46.9      7.2292  80.      83.475   27.9
  27.7208  15.2458  10.5      8.1583   7.925    8.6625  10.5     46.9
  73.5     14.4542  56.4958   7.65     7.8958   8.05    29.      12.475
   9.       9.5      7.7875  47.1     10.5     15.85    34.375    8.05
 263.       8.05     8.05     7.8542  61.175   20.575    7.25     8.05
  34.6542  63.3583  23.      26.       7.8958   7.8958  77.2875   8.6542
   7.925    7.8958   7.65     7.775    7.8958  24.15    52.      14.4542
   8.05     9.825   14.4583   7.925    7.75    21.     247.5208  31.275
  73.5      8.05    30.0708  13.      77.2875  11.2417   7.75     7.1417
  22.3583   6.975    7.8958   7.05    14.5     26.      13.      15.0458
  26.2833  53.1      9.2167  79.2     15.2458   7.75    15.85     6.75
  11.5     36.75     7.7958  34.375   26.      13.      12.525   66.6
   8.05    14.5      7.3125  61.3792   7.7333   8.05     8.6625  69.55
  16.1     15.75     7.775    8.6625  39.6875  20.525   55.      27.9
  25.925   56.4958  33.5     29.125   11.1333   7.925   30.6958   7.8542
  25.4667  28.7125  13.       0.      69.55    15.05    31.3875  39.
  22.025   50.      15.5     26.55    15.5      7.8958  13.      13.
   7.8542  26.      27.7208 146.5208   7.75     8.4042   7.75    13.
   9.5     69.55     6.4958   7.225    8.05    10.4625  15.85    18.7875
   7.75    31.       7.05    21.       7.25    13.       7.75   113.275
   7.925   27.      76.2917  10.5      8.05    13.       8.05     7.8958
  90.       9.35    10.5      7.25    13.      25.4667  83.475    7.775
  13.5     31.3875  10.5      7.55    26.      26.25    10.5     12.275
  14.4542  15.5     10.5      7.125    7.225   90.       7.775   14.5
  52.5542  26.       7.25    10.4625  26.55    16.1     20.2125  15.2458
  79.2     86.5    512.3292  26.       7.75    31.3875  79.65     0.
   7.75    10.5     39.6875   7.775  153.4625 135.6333  31.       0.
  19.5     29.7      7.75    77.9583   7.75     0.      29.125   20.25
   7.75     7.8542   9.5      8.05    26.       8.6625   9.5      7.8958
  13.       7.75    78.85    91.0792  12.875    8.85     7.8958  27.7208
   7.2292 151.55    30.5    247.5208   7.75    23.25     0.      12.35
   8.05   151.55   110.8833 108.9     24.      56.9292  83.1583 262.375
  26.       7.8958  26.25     7.8542  26.      14.     164.8667 134.5
   7.25     7.8958  12.35    29.      69.55   135.6333   6.2375  13.
  20.525   57.9792  23.25    28.5    153.4625  18.     133.65     7.8958
  66.6    134.5      8.05    35.5     26.     263.      13.      13.
  13.      13.      13.      16.1     15.9      8.6625   9.225   35.
   7.2292  17.8      7.225    9.5     55.      13.       7.8792   7.8792
  27.9     27.7208  14.4542   7.05    15.5      7.25    75.25     7.2292
   7.75    69.3     55.4417   6.4958   8.05   135.6333  21.075   82.1708
   7.25   211.5      4.0125   7.775  227.525   15.7417   7.925   52.
   7.8958  73.5     46.9     13.       7.7292  12.     120.       7.7958
   7.925  113.275   16.7      7.7958   7.8542  26.      10.5     12.65
   7.925    8.05     9.825   15.85     8.6625  21.       7.75    18.75
   7.775   25.4667   7.8958   6.8583  90.       0.       7.925    8.05
  32.5     13.      13.      24.15     7.8958   7.7333   7.875   14.4
  20.2125   7.25    26.      26.       7.75     8.05    26.55    16.1
  26.       7.125   55.9    120.      34.375   18.75   263.      10.5
  26.25     9.5      7.775   13.       8.1125  81.8583  19.5     26.55
  19.2583  30.5     27.75    19.9667  27.75    89.1042   8.05     7.8958
  26.55    51.8625  10.5      7.75    26.55     8.05    38.5     13.
   8.05     7.05     0.      26.55     7.725   19.2583   7.25     8.6625
  27.75    13.7917   9.8375  52.      21.       7.0458   7.5208  12.2875
  46.9      0.       8.05     9.5875  91.0792  25.4667  90.      29.7
   8.05    15.9     19.9667   7.25    30.5     49.5042   8.05    14.4583
  78.2667  15.1    151.55     7.7958   8.6625   7.75     7.6292   9.5875
  86.5    108.9     26.      26.55    22.525   56.4958   7.75     8.05
  26.2875  59.4      7.4958  34.0208  10.5     24.15    26.       7.8958
  93.5      7.8958   7.225   57.9792   7.2292   7.75    10.5    221.7792
   7.925   11.5     26.       7.2292   7.2292  22.3583   8.6625  26.25
  26.55   106.425   14.5     49.5     71.      31.275   31.275   26.
 106.425   26.      26.      13.8625  20.525   36.75   110.8833  26.
   7.8292   7.225    7.775   26.55    39.6    227.525   79.65    17.4
   7.75     7.8958  13.5      8.05     8.05    24.15     7.8958  21.075
   7.2292   7.8542  10.5     51.4792  26.3875   7.75     8.05    14.5
  13.      55.9     14.4583   7.925   30.     110.8833  26.      40.125
   8.7125  79.65    15.      79.2      8.05     8.05     7.125   78.2667
   7.25     7.75    26.      24.15    33.       0.       7.225   56.9292
  27.       7.8958  42.4      8.05    26.55    15.55     7.8958  30.5
  41.5792 153.4625  31.275    7.05    15.5      7.75     8.05    65.
  14.4     16.1     39.      10.5     14.4542  52.5542  15.7417   7.8542
  16.1     32.3208  12.35    77.9583   7.8958   7.7333  30.       7.0542
  30.5      0.      27.9     13.       7.925   26.25    39.6875  16.1
   7.8542  69.3     27.9     56.4958  19.2583  76.7292   7.8958  35.5
   7.55     7.55     7.8958  23.       8.4333   7.8292   6.75    73.5
   7.8958  15.5     13.     113.275  133.65     7.225   25.5875   7.4958
   7.925   73.5     13.       7.775    8.05    52.      39.      52.
  10.5     13.       0.       7.775    8.05     9.8417  46.9    512.3292
   8.1375  76.7292   9.225   46.9     39.      41.5792  39.6875  10.1708
   7.7958 211.3375  57.      13.4167  56.4958   7.225   26.55    13.5
   8.05     7.7333 110.8833   7.65   227.525   26.2875  14.4542   7.7417
   7.8542  26.      13.5     26.2875 151.55    15.2458  49.5042  26.55
  52.       9.4833  13.       7.65   227.525   10.5     15.5      7.775
  33.       7.0542  13.      13.      53.1      8.6625  21.       7.7375
  26.       7.925  211.3375  18.7875   0.      13.      13.      16.1
  34.375  512.3292   7.8958   7.8958  30.      78.85   262.375   16.1
   7.925   71.      20.25    13.      53.1      7.75    23.      12.475
   9.5      7.8958  65.      14.5      7.7958  11.5      8.05    86.5
  14.5      7.125    7.2292 120.       7.775   77.9583  39.6      7.75
  24.15     8.3625   9.5      7.8542  10.5      7.225   23.       7.75
   7.75    12.475    7.7375 211.3375   7.2292  57.      30.      23.45
   7.05     7.25     7.4958  29.125   20.575   79.2      7.75    26.
  69.55    30.6958   7.8958  13.      25.9292   8.6833   7.2292  24.15
  13.      26.25   120.       8.5167   6.975    7.775    0.       7.775
  13.      53.1      7.8875  24.15    10.5     31.275    8.05     0.
   7.925   37.0042   6.45    27.9     93.5      8.6625   0.      12.475
  39.6875   6.95    56.4958  37.0042   7.75    80.      14.4542  18.75
   7.2292   7.8542   8.3     83.1583   8.6625   8.05    56.4958  29.7
   7.925   10.5     31.       6.4375   8.6625   7.55    69.55     7.8958
  33.      89.1042  31.275    7.775   15.2458  39.4     26.       9.35
 164.8667  26.55    19.2583   7.2292  14.1083  11.5     25.9292  69.55
  13.      13.      13.8583  50.4958   9.5     11.1333   7.8958  52.5542
   5.       9.      24.       7.225    9.8458   7.8958   7.8958  83.1583
  26.       7.8958  10.5167  10.5      7.05    29.125   13.      30.
  23.45    30.       7.75  ].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
df.head(20)

<h2>Tratamento da base de testes</h2>

In [ ]:
df_test['Title'] = df_test['Name'].apply(separa_titulo)
df_test["Title"] = df_test["Title"].map(normalized_titles)

df_test.loc[df_test["Title"].isin(["Mr","Mrs","Officer","Royalty"]) & df_test["Age"].isnull(),"Age"] = adults_age
df_test.loc[df_test["Title"].isin(["Miss"]) & df_test["Age"].isnull(),"Age"]= miss_age
df_test.loc[df_test["Title"].isin(["Master"]) & df_test["Age"].isnull(),"Age"] = master_age

passengers = df_test["PassengerId"]

df_test.drop(columns=["Name","PassengerId","Ticket"],inplace=True)

df_test['Cabin'].fillna('Missing',inplace=True)
df_test['Cabin'] = df_test['Cabin'].str[0]

df_test["FamSize"] = df_test["SibSp"] + df_test["Parch"]

df_test["Embarked"].fillna('S',inplace=True)

# df_test['Pclass'] = df_test['Pclass'].astype('category')
# df_test['Sex'] = df_test['Sex'].astype('category')
# df_test['Embarked'] = df_test['Embarked'].astype('category')
# df_test['Title'] = df_test['Title'].astype('category')
# df_test['Cabin'] = df_test['Cabin'].astype('category')

# df_test['Pclass'] = labelencoder.fit_transform(df_test['Pclass'])
# df_test['Sex'] = labelencoder.fit_transform(df_test['Sex'])
# df_test['Title'] = labelencoder.fit_transform(df_test['Title'])
# df_test['Embarked'] = labelencoder.fit_transform(df_test['Embarked'])
# df_test['Cabin'] = labelencoder.fit_transform(df_test['Cabin'])

coluna = ['Embarked', 'Title','Pclass','Sex','Cabin']
df_test = pd.get_dummies(df_test, columns=coluna)

# df_test['Fare'] = minmax_norm(df_test['Fare'])
# df['Age'] = minmax_norm(df['Age'])
df_test["Fare"].fillna(df_test["Fare"].mean(),inplace=True)
df['Fare'] = scaler.fit_transform(df['Fare'])
df['Age'] = scaler.fit_transform(df['Age'])

df_test["Cabin_T"] = 0
df_test.head(20)

<h2>Criação e teste do modelo</h2>

In [ ]:
X = df.drop(columns = ["Survived"])
Y = df["Survived"]

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.25,random_state=0)

In [ ]:
logreg = LogisticRegression(max_iter=200)
logreg.fit(X_train, Y_train)

y_pred = logreg.predict(X_test)

logreg.score(X_test, Y_test)

In [ ]:
confusion_matrix(Y_test,y_pred)

In [ ]:
print(classification_report(Y_test,y_pred))

<h2>Aplicação do modelo para submissão no kaggle</h2>

In [ ]:
Resultado = logreg.predict(df_test)

In [ ]:
d = {'PassengerId': passengers, 'Survived': Resultado}
tabfinal = pd.DataFrame(data=d)
tabfinal.set_index("PassengerId",inplace=True)

In [ ]:
tabfinal.to_csv("ResultadoKaggle.csv")